<h1>Novo amigo</h1>
<div>
  <form method="post">
    <label for="nome">Nome</label>
    {{input type="text" placeholder="bota o nome ai"}}
    <label for="idade">Idade</label>
    <input type="text" id="idade" name="idade" value="">
    <label for="email">Email</label>
    {{input type="email" value=email placeholder="digita ai o email"}}
    <button {{action 'salva'}} disabled={{isDisabled}}>Se salva ai</button>
  </form>

  {{#if mensagemDeResposta}}
    <div>{{mensagemDeResposta}}</div>
  {{/if}}
</div>
